<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/admin/timetable" class="sidebar-nav-link quan-ly-diem-danh-cham-cong">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <span>
                    ĐD & CC
                    <!-- Quản lí điểm danh & chấm công -->
                </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/admin/class" class="sidebar-nav-link quan-ly-lop-hoc">
                <div>
                    <i class="fas fa-user-graduate"></i>
                </div>
                <span>
                    Lớp
                    <!-- Quản lí lớp học -->
                </span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/admin/account" class="sidebar-nav-link quan-ly-tai-khoan">
                <div>
                    <i class="fas fa-users-cog"></i>
                </div>
                <span>
                    Quản lý tài khoản
                    <!-- Quản lí lớp học -->
                </span>
            </a>
        </li>
    </ul>
</div>